[Interface]
background_color =
font_family =
font_size =
foreground_color =

[Email]
password =
receiver_email =
sender_email =
smtp_port = 587
smtp_server = smtp.gmail.com
smtp_ssl = False
smtp_tls = True
username =