QTextEdit {
    background-color: #282a36;
    color: #f8f8f2;
    border: none;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 5px;
    padding: 10px;
}

QMenu {
    color: white;
}

QScrollBar:vertical {
    width: 0;
}
